@{
    layout = "layout.js.html";
    viewBag.Title = "nodeKit Demonstration App";
}
  <p>This is a test application of the OWIN/JS framework and nodeKit</p>

  <div class="example">
        <h2 class="example-title">Buttons</h2>
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn btn-block">Normal</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-block">Default</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">Primary</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success btn-block">Success</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn btn-info btn-block">Info</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-warning btn-block">Warning</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-block">Danger</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-link btn-block">Link</button>
          </div>
        </div>
      </div>